server {
    listen 443 ssl;
    listen 80;
    server_name {{ mirror_tls_hostname }} {{ inventory_hostname }};

    ssl_certificate {{ mirror_tlscert }};
    ssl_certificate_key {{ mirror_tlskey }};

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'TLS-CHACHA20-POLY1305-SHA256:TLS-AES-256-GCM-SHA384:TLS-AES-128-GCM-SHA256:EECDH+CHACHA20:EECDH+AESGCM:EECDH+AES256:EECDH+AES128';
    ssl_prefer_server_ciphers on;

    root {{ mirror_destination }};

    location / {
        autoindex on;
    }
}
